
.divimage {
  background-size: cover;
  background-position: center center;
}

.overflow-it {
  overflow: hidden;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}



.display-block {
  display: block;
}
