$color_ui: #222;
$color_ui_inverse: #fff;

$color_brand: #b657b5;


// -- secondary colors

$color_brand_faded: #996b99;

$color_ui_inverse_faded: #e7e5e5;

$color_ui_inverse: #ddd;
$color_ui_faded: #828080;
